.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a,h1,h2,h3,h4 {
        color: $gris;
    }

    .proyectos {
        .card {
            background-color: $gris;
            box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
            
          }
        h2, a {
            color: $negro;
        }
        p {
            color: $grisOscuro;
        }
    }

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $gris;
            color: $blanco;
         }
    }

    
    
}